<!DOCTYPE html>

<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>James Troup Porfolio</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="images/favicon.png"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
      $("#navBar").load("assets/nav.html", () =>{
          $("#n3").attr('id', "current");
          $("#sm2-1").attr('id', "subCurrent");
      });
      
    });
      
    
  </script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <main class="container">
    <nav id="navBar">
    </nav>
    <section class = "row">
      <h2 class="twelve columns">Contact Info:</h2>
      <!-- Place holder-->
      <div class = "twelve columns contact" >Email: jlt<div class = "remove">uito</div>9768<div class = "remove">12384</div>@g.rit.edu</div>
      <div class = "twelve columns contact" ><a href = "https://linkedin.com/in/james-troup" target = "_blank">
      <img class = "logo" src = "assets/images/linkedin.png" alt = "LinkedIn Logo"/>LinkedIn</a></div>
      <div class = "twelve columns contact" ><a href = "https://github.com/jlt9768" target = "_blank">
      <img class = "logo" src= "assets/images/github-256.png" alt = "GitHub Logo"/>GitHub</a></div>
    </section>

    <footer class="row">
        &copy; 2019 James Troup
    </footer>
  </main>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
