<!DOCTYPE html>

<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>James Troup Porfolio</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="images/favicon.png">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
      $("#navBar").load("assets/nav.html", () =>{
          $("#n3").attr('id', "current");
          $("#sm2-4").attr('id', "subCurrent");
      }); 
    });
  </script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <main class="container">
    <nav id="navBar">
    </nav>
    <section class = "row">
      <h2 class="twelve columns">Notes:</h2>
      <div class = "one column">&nbsp;</div>
      <h5 class = "one columns">Description:</h5>
      <p class = "nine columns">
        This portfolio has been updated from the original project that was developed in 2017. I converted the project from a strictly html page based website to
        a server that server the users the pages they desire. Server code can be viewed <a href="https://github.com/jlt9768/PortfolioServer">here</a>. Server setup 
          using Express with Handlebars as the template.
      </p>
      <div class = "one column">&nbsp;</div>
      <h5 class = "one columns">Sources:</h5>
      <p class = "nine columns">
        Skeleton: <br />
        <a href="http://getskeleton.com">http://getskeleton.com</a>
        <br />
        <br />
        HTML, CSS, JS Logo: <br />
        <a href="http://www.accessitltd.ie/img/html_css_javascript.png" target = "_blank">http://www.accessitltd.ie/img/html_css_javascript.png</a>
        <br />
        <br />
        C# Logo: <br />
        <a href="https://cdn.codementor.io/assets/tutors/c-sharp-tutors-online.png" target = "_blank">https://cdn.codementor.io/assets/tutors/c-sharp-tutors-online.png</a>
        <br />
        <br />
        GitHub Logo: <br />
        <a href="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png" target = "_blank">https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-256.png</a>
        <br />
        <br />
        LinkedIn Logo: <br />
        <a href = "http://www.freeiconspng.com/free-images/linkedin-logo-png-2046" target = "_blank">http://www.freeiconspng.com/free-images/linkedin-logo-png-2046</a>
        <br />
        <br />
        Unity Logo: <br />
        <a href="https://unity3d.com/profiles/unity3d/themes/unity/images/company/brand/logos/primary/unity-logo.png" target = "_blank">https://unity3d.com/profiles/unity3d/themes/unity/images/company/brand/logos/primary/unity-logo.png</a>
        <br />
        <br />
        Visual Studio Logo: <br />
        <a href="http://icons.iconarchive.com/icons/dakirby309/simply-styled/128/Microsoft-Visual-Studio-icon.png" target = "_blank">http://icons.iconarchive.com/icons/dakirby309/simply-styled/128/Microsoft-Visual-Studio-icon.png</a>
        <br />
        <br />
        Photoshop Logo: <br />
        <a href = "https://aidiladrie.files.wordpress.com/2015/05/logo-photoshop.png?w=300&h=300" target = "_blank">https://aidiladrie.files.wordpress.com/2015/05/logo-photoshop.png?w=300&h=300</a>
      </p>
      
      
    </section>

    <footer class="row">
        &copy; 2019 James Troup
    </footer>
  </main>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
