<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>James Troup Porfolio</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="assets/css/normalize.css">
  <link rel="stylesheet" href="assets/css/skeleton.css">
  <link rel="stylesheet" href="assets/css/styles.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– 
  <link rel="icon" type="image/png" href="images/favicon.png">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script>
    $(function(){
      $("#navBar").load("assets/nav.html", () =>{
          $("#n3").attr('id', "current");
          $("#sm2-2").attr('id', "subCurrent");
      }); 
    });
  </script>
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <main class="container">
    <nav id="navBar">

    </nav>
    <section class = "row">
      <h2 class="twelve columns">Skills:</h2>
      <!-- Place holder-->
      <p class = "five columns">
        The programming/web languages I currently know are C#, C++, Java, HTML5, CSS3, JavaScript, and Node.js.
        I began learning Java in my junior year of high school and used it through the end of my senior year but I
        haven't used it much recently. The majority of my recent programming has been done in C#.
      </p>
      <figure class = "five columns">
        <img src = "assets/images/html_css_javascript.png" alt = "HTML, CSS, JavaScript Logos" />
        <img src = "assets/images/cSharp.png" alt = "C# logo" />
      </figure>
    </section>
    <footer class="row">
        &copy; 2019 James Troup
    </footer>
  </main>
  

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
